html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: #272727;
  color: #fff;
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 100%;
  border: 1px solid;
}
.kegWrapper {
  width: 50%;
  margin-top: 20px;
}
.kegWrapper:first-child {
  border-right: 1px solid;
}
.kegWrapper .brewName {
  text-align: center;
  font-size: 30px;
  margin: 10px;
}
.temp {
  position: absolute;
  margin: 0 auto;
  background: #272727;
  top: 0;
  left: 0;
  right: 0;
  width: 70px;
  padding: 10px 0 10px 10px;
  border: 1px solid;
  text-align: center;
  font-size: 30px;
}
.temp::after {
  content: "°";
}
.kegGraph {
  margin: 10px;
  height: 200px;
  overflow: hidden;
}
.kegGraph .keg {
  height: 200px;
  width: 90px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  line-height: 1.5;
  text-align: center;
  background: url(keg.svg) center center no-repeat;
}
.kegGraph .progress {
  background: #ffa500;
  height: 100%;
  width: 68px;
  bottom: 16px;
  height: 156px;
  margin: 0 auto;
  position: relative;
  transition: all .2s ease;
  transform: translateY(-100%);
}
