html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: url(background.svg) no-repeat 0 0 #138DCD;
  color: #fff;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-size: cover;
}

button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.app {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
}

.kegWrapper {
  width: 50%;
  margin-top: 20px;
}

.kegWrapper .brewName {
  text-align: center;
  font-size: 30px;
  margin: 10px;
  min-height: 35px;
  -webkit-user-select: none;
  user-select: none;
}

.tempAndHumidity small {
  font-size: 10px;
  display: block;
}

.temp,
.humidity {
  margin: 20px auto 0;
  background: #272727;
  width: 80px;
  padding: 10px;
  height: 80px;
  border: 1px solid;
  line-height: 1.3;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
  position: relative;
}

.temp::before {
  content: "";
  background-image: url(fan.svg?eee);
  background-repeat: no-repeat;
  background-position: 2.3px 1.3px;
  background-size: 80%;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(0);
}

.temp.fanOn::before {
  animation-duration: 3s;
  animation-name: fan;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center;
}

@keyframes fan {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.notConnected .temp,
.notConnected .humidity {
  color: #ff0000;
}

.temp::after {
  content: "°";
}
.humidity::after {
  content: "%";
}

.nameChange {
  text-align: center;
  margin: 10px;
}

.nameChange input {
  text-align: center;
  font-size: 30px;
  background: rgba(255,255,255,.2);
  border: 1px solid;
  border-radius: 4px;
}

.kegGraph {
  margin: 10px;
  height: 200px;
  overflow: hidden;
}
.kegGraph .keg {
  height: 200px;
  width: 90px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  line-height: 1.5;
  text-align: center;
  background: url(keg.svg) center center no-repeat;
}
.kegGraph .progress {
  background: #ffa500;
  height: 100%;
  width: 68px;
  bottom: 16px;
  height: 156px;
  margin: 0 auto;
  position: relative;
  transition: all .2s ease;
  transform: translateY(-100%);
}

.modal {
  background: rgba(0,0,0,.4);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

.close {
  position: absolute;
  top: -10px;
  right: -10px;
}

.modalContent {
  background: #fff;
  color: #000;
  height: 90%;
  margin: 30px auto;
  position: relative;
  padding: 20px;
  width: 300px;
  border-radius: 4px;
}

.kegForm h1 {
  text-align: center;
  margin: 0 0 10px 0;
}

.kegForm label {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  line-height: 1.6;
}

.kegForm button {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.kegForm input {
  float: right;
  width: 65%;
  font-size: 16px;
}

.kegForm .setMax {
  width: 36%;
}

.kegForm .setMaxBtn {
  float: right;
  width: 65px;
  margin-left: 10px;
  padding: 1px 4px;
}
